.a {
  color: white;
}

.main-banner {
  border: 0px solid rgb(255, 255, 255);
  width: 99%;
  height: 370px;
  display: flex;
  border-radius: 20px;
  margin-top: -65px;
  margin-left: 10px;
  margin-right: 10px;
}

.box1{
  border: 2px solid rgb(255, 255, 255);
  width: 50%;
  height: 350px;
}

.box2{
  border-radius: 20px;
}

.box2:hover{
 border-radius: 150px;
  transition: border-radius 0.3s ;
}

.card-zoom {
        overflow: hidden;
        position: relative;
      }
      .card-zoom-bg {
        transition: transform 0.3s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      .card-zoom:hover .card-zoom-bg {
        transform: scale(1.05);
      }
      .card-content {
        position: relative;
        z-index: 1;
      }