h1 {
  color: blue;
  font-size: center;
  font-size: 45px;
  text-align: center;
}
.box {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  text-align: center;
  padding: 5px 5px 5px 5px;
}
.container {
  /* flex box */
  display: flex;
  flex-direction: row;
  /* column , column reverse , row, row reverse */
  gap: 10px;
  border: 2px solid rgb(41, 58, 8);
  justify-content: space-evenly;
  /* center , flex-start , flex-end , space evenly , space arouund , space between */
  padding: 10px 10px 10px 10px;
  align-items: flex-end;
  /* align items works vertically */
}
